#components-layout-demo-fixed-sider .logo {
  height: 32px;
  background: rgba(223, 219, 219, 0.2);
  margin: 16px;
}
.site-layout .site-layout-background {
  background: #fff;
}

/*[data-theme='compact'] .site-collapse-custom-collapse .site-collapse-custom-panel,*/
/*.site-collapse-custom-collapse .site-collapse-custom-panel {*/
/*  margin-bottom: 24px;*/
/*  overflow: hidden;*/
/*  background: #f7f7f7;*/
/*  border: 0px;*/
/*  border-radius: 2px;*/
/*}*/

.ant-collapse-header {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.ant-collapse-arrow {
  padding-top: 5px !important;
}

.ant-collapse-content-box {
  padding: 5px !important;
}